**/Debug/*
**/Release/*
*-bak
*-cache
*-cache.lib
*-rescue.dcm
*-rescue.lib
*.a
*.cache
*.log
*.log.*
*.o
*.sqlite3
*.swc
*.swf
*Debug.launch
*Release.launch
*main.bin
*main.list
*main.map
*main.out
.*.swp
.DS_Store
.build
.depend
.idea
.project
.settings
.svn
Dist
_autosave*
build
dist
doc/*
node_modules
ruby_sess.*
tags
test/coverage
drc-report.txt

